go 1.20

use (
	.
	./01-tour-of-go/00-welcome/01-hello-world
	./01-tour-of-go/00-welcome/02-the-go-playground
	./01-tour-of-go/01-basics/01-packages
	./01-tour-of-go/01-basics/02-imports
	./01-tour-of-go/01-basics/03-exported-names
	./01-tour-of-go/01-basics/04-functions
	./01-tour-of-go/01-basics/05-variables
	./01-tour-of-go/02-flow-control/03-defer
)
